<h3>Padding&Margin Helpers</h3>
<mat-card>
    <mat-card-content>

        <p>Min:0 - Max:64, Multiples of 4</p>

        <div fxLayout="row"
             fxLayoutGap="16px"
             class="show-helpers">

            <div class="pt-4">
                <div>.pt-4</div>
            </div>

            <div class="pr-4">
                <div>.pr-4</div>
            </div>

            <div class="pb-4">
                <div>.pb-4</div>
            </div>

            <div class="pl-4">
                <div>.pl-4</div>
            </div>

            <div class="px-4">
                <div>.px-4</div>
            </div>

            <div class="px-4">
                <div>.px-4</div>
            </div>

            <div class="p-4">
                <div>.p-4</div>
            </div>
        </div>

    </mat-card-content>
</mat-card>

